In [46]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns

In [47]:
career=pd.read_excel("Career Dataset.xlsx")
student=pd.read_csv("ResearchInformation3.csv")
print(career.info())
print(student.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4076 entries, 0 to 4075
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Career  4076 non-null   object
 1   Skill   4076 non-null   object
dtypes: object(2)
memory usage: 63.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Department   493 non-null    object
 1   Gender       493 non-null    object
 2   HSC          493 non-null    float64
 3   SSC          493 non-null    float64
 4   Income       493 non-null    object
 5   Hometown     493 non-null    object
 6   Computer     493 non-null    int64
 7   Preparation  493 non-null    object
 8   Gaming       493 non-null    object
 9   Attendance   493 non-null    object
 10  Job          493 non-null    object
 11  English      493 non-null    int64
 12  Extra        493 non-null    object
 13  Semester     493 non-null    object
 14  Last         493 non-null    float64
 15  Overall      493 non-null    float64
dtypes: float64(4), int64(2), object(10)
memory usage: 61.8+ KB
None

In [48]:
print(student.columns)

Index(['Department', 'Gender', 'HSC', 'SSC', 'Income', 'Hometown', 'Computer',
       'Preparation', 'Gaming', 'Attendance', 'Job', 'English', 'Extra',
       'Semester', 'Last', 'Overall'],
      dtype='object')

In [49]:
student=student.drop(["Department","Gender"],axis=1)
print(student[student["Job"]=="Yes"].count())

HSC            34
SSC            34
Income         34
Hometown       34
Computer       34
Preparation    34
Gaming         34
Attendance     34
Job            34
English        34
Extra          34
Semester       34
Last           34
Overall        34
dtype: int64

In [50]:
student=student.drop("Job",axis=1)

In [51]:
print(student[student["Extra"]=="Yes"].count())
student=student.drop("Income",axis=1)

HSC            205
SSC            205
Income         205
Hometown       205
Computer       205
Preparation    205
Gaming         205
Attendance     205
English        205
Extra          205
Semester       205
Last           205
Overall        205
dtype: int64

In [52]:
student

,HSC,SSC,Hometown,Computer,Preparation,Gaming,Attendance,English,Extra,Semester,Last,Overall
0,4.17,4.84,Village,3,More than 3 Hours,0-1 Hour,80%-100%,3,Yes,6th,3.220,3.350
1,4.92,5.00,City,3,0-1 Hour,0-1 Hour,80%-100%,3,Yes,7th,3.467,3.467
2,5.00,4.83,Village,3,0-1 Hour,More than 3 Hours,80%-100%,4,Yes,3rd,4.000,3.720
3,4.00,4.50,City,5,More than 3 Hours,More than 3 Hours,80%-100%,5,Yes,4th,3.800,3.750
4,2.19,3.17,Village,3,0-1 Hour,2-3 Hours,80%-100%,3,Yes,4th,3.940,3.940
...,...,...,...,...,...,...,...,...,...,...,...,...
488,3.50,4.00,Village,2,More than 3 Hours,2-3 Hours,40%-59%,2,Yes,7th,3.250,3.100
489,4.50,4.00,City,4,2-3 Hours,2-3 Hours,60%-79%,3,Yes,9th,3.500,3.670
490,4.56,3.67,City,3,0-1 Hour,2-3 Hours,40%-59%,2,No,2nd,3.560,3.560
491,4.23,4.50,Village,3,More than 3 Hours,2-3 Hours,80%-100%,3,Yes,10th,3.610,3.750
492,3.83,5.00,Village,3,More than 3 Hours,2-3 Hours,80%-100%,4,Yes,12th,4.000,3.860

In [53]:
print(student["Hometown"].unique())

['Village' 'City']

In [54]:
student["Hometown"]=student["Hometown"].replace({
    "Village":0,
    "City":1
})
student["Extra"]=student["Extra"].replace({
    "Yes":1,
    "No":0
})
student

C:\Users\hp\AppData\Local\Temp\ipykernel_22668\3857926278.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  student["Hometown"]=student["Hometown"].replace({
C:\Users\hp\AppData\Local\Temp\ipykernel_22668\3857926278.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  student["Extra"]=student["Extra"].replace({

,HSC,SSC,Hometown,Computer,Preparation,Gaming,Attendance,English,Extra,Semester,Last,Overall
0,4.17,4.84,0,3,More than 3 Hours,0-1 Hour,80%-100%,3,1,6th,3.220,3.350
1,4.92,5.00,1,3,0-1 Hour,0-1 Hour,80%-100%,3,1,7th,3.467,3.467
2,5.00,4.83,0,3,0-1 Hour,More than 3 Hours,80%-100%,4,1,3rd,4.000,3.720
3,4.00,4.50,1,5,More than 3 Hours,More than 3 Hours,80%-100%,5,1,4th,3.800,3.750
4,2.19,3.17,0,3,0-1 Hour,2-3 Hours,80%-100%,3,1,4th,3.940,3.940
...,...,...,...,...,...,...,...,...,...,...,...,...
488,3.50,4.00,0,2,More than 3 Hours,2-3 Hours,40%-59%,2,1,7th,3.250,3.100
489,4.50,4.00,1,4,2-3 Hours,2-3 Hours,60%-79%,3,1,9th,3.500,3.670
490,4.56,3.67,1,3,0-1 Hour,2-3 Hours,40%-59%,2,0,2nd,3.560,3.560
491,4.23,4.50,0,3,More than 3 Hours,2-3 Hours,80%-100%,3,1,10th,3.610,3.750
492,3.83,5.00,0,3,More than 3 Hours,2-3 Hours,80%-100%,4,1,12th,4.000,3.860

In [55]:
student["Semester"]=student["Semester"].str[0].astype(int)
student

,HSC,SSC,Hometown,Computer,Preparation,Gaming,Attendance,English,Extra,Semester,Last,Overall
0,4.17,4.84,0,3,More than 3 Hours,0-1 Hour,80%-100%,3,1,6,3.220,3.350
1,4.92,5.00,1,3,0-1 Hour,0-1 Hour,80%-100%,3,1,7,3.467,3.467
2,5.00,4.83,0,3,0-1 Hour,More than 3 Hours,80%-100%,4,1,3,4.000,3.720
3,4.00,4.50,1,5,More than 3 Hours,More than 3 Hours,80%-100%,5,1,4,3.800,3.750
4,2.19,3.17,0,3,0-1 Hour,2-3 Hours,80%-100%,3,1,4,3.940,3.940
...,...,...,...,...,...,...,...,...,...,...,...,...
488,3.50,4.00,0,2,More than 3 Hours,2-3 Hours,40%-59%,2,1,7,3.250,3.100
489,4.50,4.00,1,4,2-3 Hours,2-3 Hours,60%-79%,3,1,9,3.500,3.670
490,4.56,3.67,1,3,0-1 Hour,2-3 Hours,40%-59%,2,0,2,3.560,3.560
491,4.23,4.50,0,3,More than 3 Hours,2-3 Hours,80%-100%,3,1,1,3.610,3.750
492,3.83,5.00,0,3,More than 3 Hours,2-3 Hours,80%-100%,4,1,1,4.000,3.860

In [56]:
print(student["Attendance"].unique())

['80%-100%' 'Below 40%' '60%-79%' '40%-59%']

In [65]:
student["Attendance"].unique()

array(['80-100', '0%-40%', '60-79', '40-59'], dtype=object)

In [64]:
student["Attendance"]=student["Attendance"].replace({
    "Below 40":"0%-40%"
})

In [66]:
student["Attendance"]=student["Attendance"].str.replace("%","",regex=False)
student["Attendance"]=student["Attendance"].str.split("-").apply(lambda x:(int(x[0])+int(x[1]))/2)
student

,HSC,SSC,Hometown,Computer,Preparation,Gaming,Attendance,English,Extra,Semester,Last,Overall
0,4.17,4.84,0,3,More than 3 Hours,0-1 Hour,90.0,3,1,6,3.220,3.350
1,4.92,5.00,1,3,0-1 Hour,0-1 Hour,90.0,3,1,7,3.467,3.467
2,5.00,4.83,0,3,0-1 Hour,More than 3 Hours,90.0,4,1,3,4.000,3.720
3,4.00,4.50,1,5,More than 3 Hours,More than 3 Hours,90.0,5,1,4,3.800,3.750
4,2.19,3.17,0,3,0-1 Hour,2-3 Hours,90.0,3,1,4,3.940,3.940
...,...,...,...,...,...,...,...,...,...,...,...,...
488,3.50,4.00,0,2,More than 3 Hours,2-3 Hours,49.5,2,1,7,3.250,3.100
489,4.50,4.00,1,4,2-3 Hours,2-3 Hours,69.5,3,1,9,3.500,3.670
490,4.56,3.67,1,3,0-1 Hour,2-3 Hours,49.5,2,0,2,3.560,3.560
491,4.23,4.50,0,3,More than 3 Hours,2-3 Hours,90.0,3,1,1,3.610,3.750
492,3.83,5.00,0,3,More than 3 Hours,2-3 Hours,90.0,4,1,1,4.000,3.860